VITE_APP_NAME=hs-landing-page

VITE_APP_ORIGIN=https://localhost

# for nested static deployment, set VITE_APP_BASE=/resource/
VITE_APP_BASE=/resource/

# VITE_APP_FULL_URL=${VITE_APP_ORIGIN}${VITE_APP_BASE}
VITE_APP_FULL_URL=https://localhost/resource/

VITE_APP_API_URL=POINT_ME_AT_API_URL