VITE_APP_NAME=hs-landing-page

VITE_APP_ORIGIN=http://localhost

# for nested static deployment, set VITE_APP_BASE=/landing/
VITE_APP_BASE=/landing/

# VITE_APP_FULL_URL=${VITE_APP_ORIGIN}${VITE_APP_BASE}
VITE_APP_FULL_URL=http://localhost/landing/

VITE_APP_API_URL=POINT_ME_AT_API_URL

VITE_APP_COMPANION_URL=http://localhost/companion
VITE_APP_GOOGLE_PICKER_CLIENT_ID=737951655407-p3d2b2bl2ln90g5plfj09e98bprk42da.apps.googleusercontent.com
VITE_APP_GOOGLE_PICKER_API_KEY=AIzaSyDEavRDQj6aB38b7RVL5qX1tEJPDuKH4Rc
VITE_APP_GOOGLE_PICKER_APP_ID=737951655407